/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilização do cabeçalho */
h1 {
    color: #4CAF50;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilização do formulário */
form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 15px;
}

/* Estilização dos labels */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

/* Estilização dos inputs de texto e selects */
input[type="text"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* Estilização do botão */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Estilização da mensagem */
#message {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #d9534f; /* Cor padrão para mensagens de erro */
}

/* Estilização para sucesso */
#message.success {
    color: #5bc0de; /* Cor padrão para mensagens de sucesso */
}

/* Estilização para telas menores */
@media (max-width: 600px) {
    form {
        padding: 15px;
        margin: 0 10px;
    }

    h1 {
        font-size: 24px;
    }

    input[type="text"],
    select {
        font-size: 14px;
    }

    button {
        padding: 12px 0;
        font-size: 14px;
    }
}